<ion-view view-title="About TT Salary Calculator">
	<ion-content>
        	<div class="item item-image"> 
            	<a href="#/tab/home"><img class="web-container" src="templates/banner.png"/></a>
        	</div>
		<div class="web-container">
	        
	      
		<div class="card">
		  <div class="item item-text-wrap item-icon-left">
		  	<i class="icon ion-ios-information-outline"></i>
		  	<p> TT Salary Calculator calculates your net income based on the 2015/2016 tax laws of Trinidad and Tobago. The Android application was launched April 27th, 2016.</p>
		  </div>
		  <div class="item item-text-wrap item-icon-left">
		   	<i class="icon ion-alert"></i>
		   <p><b>Disclaimer</b>: The creator of this website is not an accountant but liaises with accountants.</p>
		  <p>The calculations assume a 40-hour work week.  Suggestions and queries are welcomed.</p>
		  <p>Learn about Trinidad and Tobago <a href="http://www.ttconnect.gov.tt/gortt/portal/ttconnect/!ut/p/a1/jZBLb8IwEIR_jY9kFyzzuuVAaQgSgqol-FI5kTFGwY4ck8C_b8INhUf3trPfjEYLHBLgRlRaCa-tEXm78-FvvB4giyYUV2uc4GAT9WfIYjof0QbY3QGb-UcDzFj_M_6hiPg_Pz6Z8K3_SxrYAn-JLVgH6Na8AS96LICr3Ka3n-xCk9KxAu7kXjrpgrNr5IP3xZQgwbqug702wmQyULYKvCdYSlfpTJYEtcnsSfa8uBAsxFUb1bvas2uF9vwo_mBLD0k3ForTd3KJjiyvluEf66ddTg!!/dl5/d5/L2dBISEvZ0FBIS9nQSEh/?WCM_GLOBAL_CONTEXT=/gortt/wcm/connect/GorTT%20Web%20Content/ttconnect/Citizen/role/abusinessperson/taxes/paying+your+taxes#2" target="_blank">taxes.</a> </p>
		  </div>
		  <div class="item item-icon-left" href="#">
			    <i class="icon ion-email"></i>
			    a12appdevelopment@gmail.com
		  </div>
		</div>

		<div align="center">
			<a href="#/tab/faqs" class="button button-outline button-dark" style="margin-left:10px">Frequently Asked Questions (FAQs)</a>
		</div>
	</div>
	</ion-content>
</ion-view>