<ion-view hide-nav-bar="true" view-title="{{posts[post_index].title}}">
  <ion-content>
          <div class="item item-image"> 
              <a href="#/tab/home"><img class="web-container" src="templates/banner.png"/></a>
          </div>
 <div class="list card">
  <div class="row">
    <div class="col  col-90">
    <h2 class="title centered" ng-bind-html="posts[post_index].title"></h2>
    <p >{{posts[post_index].published | limitTo: 10}}  {{posts[post_index].published | limitTo: 5 : 11}}</p>
  </div>
  <div class="col">
    <a class="button button-icon icon ion-android-share-alt right" ng-click="OtherShare(post_index)"></a>
  </div>
  </div>
  <div class="mobile-header-image">
    <div overflow-scroll="true" class="item-body" ng-bind-html="posts[post_index].content"></div>
  </div>
</div>
  </ion-content>
</ion-view>