<ion-view  hide-nav-bar="true" view-title="Blog">
  <ion-content>
          <div class="item item-image"> 
              <a href="#/tab/home"><img class="web-container" src="templates/banner.png"/></a>
          </div>
      <div class="list">
        <div ng-repeat="post in posts" class="card item blog-item"  class="item-text-wrap">
          </br>
          <span class="header-image" ng-bind-html="post.content.split('<br />')[0]" ng-click="goToPost($index)"> </span>
          <div>
            <h2 class="title post-meta" item-start="true" ng-bind-html="post.title" ></h2>
            <p class="post-date  post-meta">{{post.published | limitTo: 10}} {{post.published | limitTo: 5 : 11}}</p>
          </div>
          <div class="button-bar">
            <a class="button button-icon icon ion-document-text" ng-click="goToPost($index)"></a>
            <a class="button button-icon icon ion-android-share-alt" ng-click="OtherShare($index)"></a>
          </div>
          
        </div>
        <div ng-if="posts==false">
          <p class="card blog-item">Waiting for an Internet connection...</p>
        </div>
      </div>
  </ion-content>
</ion-view>