<<<<<<< HEAD
<ion-view hide-nav-bar="true" view-title="TT Salary Calculator" ng-init="reset()">
=======
    <ion-view hide-nav-bar="true" view-title="TT Salary Calculator" ng-init="reset()">
>>>>>>> origin/master
      
      <ion-content>

      <div class="item item-image">
        <img src="templates/banner.png">
      </div>

        <form name="salaryForm" style="top:40px">
          <label class="item item-input item-select">
            <span class="input-label">Tax Year</span>
            <select name="tax_year" 
            ng-model="user.tax_year" 
            ng-options="ty.name for ty in tax_years">
            </select>
          </label>
          <label class="item item-input">
            <span class="input-label">Monthly Salary</span>
            <input class= "right-align" type="number" placeholder="$0" ng-model="user.inputSalary"  required>
          </label>
          <label class="item item-input item-select">
            <span class="input-label">Age Group</span>
            <select name="age_group" 
            ng-model="user.age_group" 
            ng-options="ag.name for ag in age_groups" 
            class="form-control"></select>
          </label> 
          <label class="item item-input">
            <span class="input-label optional-text">TD1 Claims</span>
            <input class= "right-align" type="number" placeholder="$0" ng-model="user.td1"/>
          </label> 
          <div class="row">
           <div class="col text-center">
              <button class="button  button-right button-outline button-dark button-block" ng-disabled="salaryForm.$invalid" ng-click="goTo('monthly')">
                   <span class="dark"> Calculate <!--i class="icon ion-calculator"--></i></span>
                </button>
            </div>
        </div>
        </form>

   


    
      </ion-content>
    </ion-view>