<ion-view hide-nav-bar="true" view-title="FAQs">
	<ion-content>
        	<div class="item item-image"> 
            	<a href="#/tab/home"><img class="web-container" src="templates/banner.png"></a>
        	</div>
	<div class="web-container">

		<div class="list">

		  <div class="card">
		  <div class="item item-text-wrap">
		    
		    <b>What is the Gross Salary?</b><br>
		    The gross salary is the salary you earn before taxes are deducted.
		  </div>
		</div>

		  <div class="card">
		  <div class="item item-text-wrap">
		   
		    <b>What is the Taxable Income?</b><br>
		    The Taxable Income is the portion of your gross salary that can be taxed by the government of Trinidad and Tobago (GORTT). This depends on the laws for tax year. <br>
		    In 2016, all taxpayers are entitled to a Personal Allowance of TT$72,000.00 per year.  You do not pay income tax on your first TT$72,000.00 of income.
			</div>
			</div>

		  <div class="card">
		  <div class="item item-text-wrap">
		    <b>What is the Income Tax (PAYE)?</b><br>
		    The PAYE, which stands for "Pay As You Earn", is the tax that the goverment collects from your taxable income. The flat rate is 25% of the taxable income. 

		    <br>
		    <br>
		    See how you can <a href="http://www.ttconnect.gov.tt/gortt/portal/ttconnect/!ut/p/a1/jdDLDoIwEAXQr2HLjDT1tWPhAzAxYFTsxkBSK6a2plTx80V2BEVnN5Nzk5sBBikwlT0KkdlCq0y-dzY8RrGHNJgQXMc4QS8JBjOkEVmMSA0OLZAs5jWY0cEy2hFE_C-PX8b_md9wBXtgvSykHdCt2YCeHiEwIXXe_OTgq5yMBTDDT9xw495NfT5beyunDjpYVZUrtBaSu9Y6-Clx1qWFtAXhdt2mz-BC5WPlvwBMIyPi/dl5/d5/L0lDU0lKSWdrbUEhIS9JRFJBQUlpQ2dBek15cXchLzRKQ2hEb01kdEJnY2huQVZHRUEhL1o3X0tRMjA1STkzMEc5VTEwMlJRQU43SkkzT0UwLzA!/?WCM_PORTLET=PC_Z7_KQ205I930G9U102RQAN7JI3OE0029275_WCM&WCM_GLOBAL_CONTEXT=http://www2.ttconnect.gov.tt/gortt/wcm/connect/gortt+web+content/ttconnect/citizen/role/abusinessperson/taxes/reducing+your+income+tax" target="_blank">reduce your income tax. </a>
		  </div>
		</div>

		  <div class="card">
		  <div class="item item-text-wrap">
		    <b>What is the National Insurance System (NIS)?</b><br>
		    The National Insurance Board of Trinidad and Tobago (NIBTT) pays benefits to persons who register and pay contributions to the National Insurance System (N.I.S). Employed persons who earn $180.00 or more per week must be registered and are required to be contributors to the National Insurance System. <a href="http://www.nibtt.net/benefits_09/benefits_09.html" target="_blank">See more. </a>
		 </div>
		</div>

		 <div class="card">
		  <div class="item item-text-wrap">
		   	<b>What is Health Surcharge (HS)?</b><br>
		    A tax collected based on the income persons earn and shall be applied to the provisions of health services in Trinidad and Tobago.
		  </div>
		</div>

		<div class="card">
		  <div class="item item-text-wrap">
		   	<b>What is TD1?</b><br>
		    The Tax Declaration 1 (TD1) Form is used to calculate the amount of tax that is withheld by your employer. You can claim tax deductions for tertiary education expenses, first-time home ownership etc. The Inland Revenue Division is responsible for approving your claim. <a href="http://www.finance.gov.tt/services/income-tax/reducing-taxes/" target="_blank">See more.</a>
		  </div>
		</div>

		  

		</div><!--end list card-->
	</div>
		<!--a href="#/tab/about" class="button icon-left ion-chevron-left button-clear button-dark" style="float:left" > Back</a>
		<a href="#/tab/home" class="button button-clear button-dark" style="float:right"><i class="icon ion-calculator"></i> Home</a-->
	</ion-content>

</ion-view>