<img class="header-image" align="middle" border="0" src="http://d15h3ts9pue03r.cloudfront.net/wp-content/uploads/2017/07/trinidad-money.jpg?x23406" data-original-height="493" data-original-width="740" height="213" width="320" /><br />

<h2>Employment Income and Taxes</h2>
<p>
So you've just started your new job and excited about your shiny new salary.</p>
<p>
After your celebratory drinks with friends, it's time to start thinking about how you're going to manage your new income. You haven't received your first pay-check just yet, but you're a planner and want to budget. Let's first understand the basics of income taxes in Trinidad and Tobago (T&amp;T).&nbsp;<img alt="Person raising hands Emoji - U+1F64C" height="50" src="https://www.emojimeanings.net/img/whatsapp-smileys/hands-stretched-upwards-smiley-1F64C.jpg" style="background-color: rgba(0, 0, 0, 0.075); border-style: none; box-sizing: inherit; color: #292b2c; font-family: RobotoDraft, Roboto, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; vertical-align: middle;" width="50" /></p>
<p >
<br /></p>
<h3>
Basics</h3>
<h3>
1. You only pay tax if you earn enough</h3>
<img class="header-image" border="0" src="http://d15h3ts9pue03r.cloudfront.net/wp-content/uploads/2017/07/trinidad-money.jpg?x23406" data-original-height="493" data-original-width="740" height="213" width="320" />
<p style="color: #999999; font-size: 10.8px; text-align:center">Credit: caribbean360.com</p>
<p >
There is a concept of&nbsp;<b>personal allowance</b>, so you are only taxed if you earn more than the personal allowance. In T&amp;T your personal allowance is $72,000TTD per year. That's $6,000TTD per month.&nbsp;<img alt="Woman dancing Emoji - U+1F483" height="50" src="https://www.emojimeanings.net/img/whatsapp-smileys/dancer-emoji-1F483.jpg" style="background-color: rgba(0, 0, 0, 0.075); border-style: none; box-sizing: inherit; color: #292b2c; font-family: RobotoDraft, Roboto, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; vertical-align: middle;" width="50" /></p>
<p >
<br /></p>
<h3>
2. If you do earn enough, not all your income is taxed (Income Tax)</h3>
<h3>
<p class="separator" style="clear: both; text-align: center;"><img class="header-image" border="0" src="http://i.dailymail.co.uk/i/pix/2016/11/21/10/3A9C69F700000578-3956682-image-a-12_1479725056756.jpg" data-original-height="423" data-original-width="634" height="213" width="320" /></p>
</h3>
<p >
The personal allowance of $72,000TTD per year falls under the category of&nbsp;<b>non-taxable income</b>. The remainder of your yearly salary is taxed. This tax is called 'Pay As You Earn', abbreviated as&nbsp;<b>P.A.Y.E.&nbsp;</b>&nbsp;The P.A.Y.E. is 25% of your&nbsp;<b>taxable income.&nbsp;</b></p>
<p >
<br /></p>
<p >
There are ways to reduce your taxable income but we'll talk more about this in another post.&nbsp;</p>
<p >
<br /></p>
<h3>
3. Public Healthcare in Trinidad is 'free' but someone's got to pay for it (Health Surcharge)</h3>

<img  class="header-image" border="0" src="http://d15h3ts9pue03r.cloudfront.net/wp-content/uploads/2016/10/port-of-spain-general-hospital.jpg?x23406" data-original-height="493" data-original-width="740" height="213" width="320" /><p style="color: #999999; font-size: 10.8px; text-align:center;">Credit: caribbean360.com</p>
<p >
Inpiduals earning income in T&amp;T are required to pay a&nbsp;<b>health surcharge</b>.&nbsp;</p>
<p >
If you earn more than $469.99 per month; you are taxed $8.40 weekly.</p>
<p >
If you earn less than $469.99 per month; you are taxed $4.25 weekly.</p>
<p >
<br /></p>
<b><p style="font-weight: normal;">You are exempt from paying the health surcharge if you are:</p></b>
<ul class="my-list">
<li>under 16 years old</li>
<li> 60 years old and over</li>
<li>your only source of income is pension</li>
</ul>
<br />
<p >
If you fancy a read, here's access the&nbsp;<a href="http://rgd.legalaffairs.gov.tt/laws2/alphabetical_list/lawspdfs/75.05.pdf">Health Surcharge Act.</a>&nbsp;</p>
<p >
<br /></p>
<h3>
4. Social Security Contritbutions (National Insurance)</h3>

<p class="separator" style="clear: both; font-size: medium; font-weight: normal; text-align: center;">
<img class="header-image" border="0" data-original-height="228" data-original-width="800" height="91" src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/17190346_1247898461958632_5727958048291285284_n.jpg?oh=ec55c3a71ea1d0ef3c571d31f8854c81&amp;oe=5A78E2F7" width="320" /></p>
<p >
<br /></p>
<p >
The National Insurance Board of Trinidad and Tobago&nbsp;<a href="http://www.nibtt.net/NIBTT/aboutUs.html" target="_blank">NIBTT</a>&nbsp;is responsible for the administration and operation of the National Insurance System in Trinidad and Tobago. Employees must sign up with the NIBTT and make contributions to their national insurance.<br />
The contribution is shared between the employer and employee in the ratio of 2:1 as set out by the act. &nbsp;The maximum rate paid weekly by an employee is $138.10TTD for monthly income over $13,600TTD.&nbsp;</p>
<p style="font-size: medium;">
<p style="font-weight: normal;">
<br /></p>
<b><p>Exemptions for these employees:</p></b>
<ul class="my-list">
<li>Under 16 years and over 65 years</li>
<li>Aged 60 - 65 years, have retired and started receiving their retirement benefit</li>
</ul>
<p >
You can see a breakdown of the weekly contributions&nbsp;<a href="http://www.nibtt.net/Downloads/downloas_2016/2016%20Rate%20Sheet.pdf" target="_blank">here</a>.&nbsp;</p>
</p>

<h3 >
</h3>
<h3>
</h3>
<h3>
Wrap Up</h3>

<p >
<ul class="my-list">
	<li>If you don't earn enough, you will not be taxed</li>
	<li>Employed persons have three main taxes to pay:</li>
		<ul class="my-list">
		<li>Income Tax/P.A.Y.E.- 25% of chargeable income</li>
		<li>Health Surcharge - weekly rate that depends on weekly earnings</li>
		<li>National Insurance - weekly rate that depends on weekly earnings</li>
		</ul>
	<li>There are exemptions for some taxes (Health surcharge and national insurance)</li>
	<li>Your employer deducts the taxes from your salary and pays it to the respective Boards on your behalf</li>
	<li>Check out <a href="https://www.salariestt.com/" target="_blank">SalariesTT</a> for information about salaries for various job sectors in T&amp;T</li>
	<li>Check out the <a href="https://play.google.com/store/apps/details?id=com.ionicframework.ttsalarycalculator144380&amp;hl=en" target="_blank">TT Salary Calculator</a> in Google Play</li>
</ul>
</p>


<p >
<ul class="my-list">
</ul>
</p>
