<ion-view hide-nav-bar="true" view-title="Weekly Salary" ng-init="calculateSalary()">

      <ion-content>
        <div class="item item-image">
          <img src="templates/banner.png">
        </div>
         <!--relative tabs-->
        <div class="tabs relative-tabs">
          <a class="tab-item" ng-click="goTo('yearly')">
            Yearly
          </a>
          <a class="tab-item" ng-click="goTo('monthly')">
            Monthly
          </a>
         <a class="tab-item  active"  href="#" >
            Weekly
          </a>
          <a class="tab-item" ng-click="goTo('daily')">
            Daily
          </a>
        </div>

        <div class="list list-inset">
          <a class="item button button-block" href="#">
            <span style="float:left"><i class="icon ion-cash"></i> <b>Net Income</b> </span>
            <span class="item-note assertive"><b>${{takeHome_weekly}}</b></span>
          </a>
          <a class="item" href="#">
            <span>Gross Income</span>
            <span class="item-note dark">${{grossIncome_weekly}}</span>
          </a>
          <a class="item" href="#">
            <span>Taxable Income</span>
            <span class="item-note dark">${{taxableIncome_weekly}}</span>
          </a>
          <a class="item" href="#">
            <span>Income Tax (PAYE)</span>
            <span class="item-note dark">${{incomeTax_weekly}}</span>
          </a>
          <a class="item" href="#">
            <span>National Insurance System (NIS)</span>
            <span class="item-note dark">${{NIS_weekly}}</span>
          </a>
          <a class="item" href="#">
            <span>Health Surcharge (HS)</span>
            <span class="item-note dark">${{HS_weekly}}</span>
          </a>
          <a ng-if="td1_weekly>0" class="item" href="#">
            <span>TD1 Declaration</span>
            <span class="item-note dark">${{td1_weekly}}</span>
          </a>
        </div>
      </ion-content>
    </ion-view>