<ion-view hide-nav-bar="true" view-title="Monthly Salary (5 weeks)" ng-init="calculateSalary('monthly5')">

      
      <ion-content>
        <div class="item item-image">
          <img src="templates/banner.png">
        </div>
         <!--relative tabs-->
        <div class="tabs relative-tabs">
          <a class="tab-item" ng-click="goTo('yearly')">
            Yearly
          </a>
          <a class="tab-item active" href="#">
            Monthly
          </a>
         <a class="tab-item" ng-click="goTo('weekly')">
            Weekly
          </a>
          <a class="tab-item" ng-click="goTo('daily')">
            Daily
          </a>
        </div>
      <div class="web-container">
          
        

        <div class="list card">
          <a class="item button button-block" href="#"  ng-click="openModal()">
            <span style="float:left"><i class="icon ion-cash"></i><b> Net Income *</b></span>
            <span class="item-note assertive" style="float:right"><b>${{takeHome_monthly5}}</b></span>
          </a>
          <a class="item" href="#">
            <span>Gross Income</span>
            <span class="item-note dark">${{grossIncome_monthly}}</span>
          </a>
          <a class="item" href="#">
            <span>Taxable Income</span>
            <span class="item-note dark">${{taxableIncome_monthly}}</span>
          </a>
          <a class="item" href="#">
            <span>Income Tax (PAYE)</span>
            <span class="item-note dark">${{incomeTax_monthly}}</span>
          </a>
          <a class="item" href="#">
            <span>National Insurance System (NIS)</span>
            <span class="item-note dark">${{NIS_monthly5}}</span>
          </a>
          <a class="item" href="#">
            <span>Health Surcharge (HS)</span>
            <span class="item-note dark">${{HS_monthly5}}</span>
          </a>
          <a ng-if="td1_monthly>0" class="item" href="#">
            <span>TD1 Declaration</span>
            <span class="item-note dark">${{td1_monthly}}</span>
          </a>
        </div>
        <div class="list card" style="border-top-style:solid;top:10px">
          <div class="item item-text-wrap">
            <b>*</b> This calculation is based on a month with 5 weeks.  A month that has working days in 4 calendar weeks is calculated differently.
            <button class="button icon-right ion-chevron-right" ng-click="goTo('monthly')">4 Week Month Salary</button>
          </div>
          
        </div>
      </div>

      </ion-content>
      </ion-view>

      <script id="my-modal.html" type="text/ng-template">
          <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-dark">
              <h1 class="title">Monthly Salary</h1>
              <button class="button button-clear button-light" ng-click="closeModal()">Cancel</button>
            </ion-header-bar>
            <ion-content>
            <div class="card">
              <div class="item item-text-wrap">
                This calculation is based on a month with 5 weeks.  A month that has working days in 4 calendar weeks is calculated differently.
              </div>
            </div>
            <button class="button button-full button-dark" ng-click="goTo('monthly')">4 Week Month Salary</button>
              
            </ion-content>
          </ion-modal-view>
        </script>