<ion-tabs class="tabs-icon-top tabs-striped tabs-background-light tabs-color-assertive ">

        <ion-tab title="Home" icon="ion-calculator" href="#/tab/home">

          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab  title="{{blogTitle}}" icon="ion-ios-book-outline" href="#/tab/blog">

          <ion-nav-view name="blog-tab"></ion-nav-view>
        </ion-tab>



        <ion-tab title="About" icon="ion-ios-information" href="#/tab/about">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>
        
  
</ion-tabs>
