/* Empty. Add your own CSS if you like */

.bar-darker{
  color:#fff;
  background-color:#212121;
}

.bar.bar-dark {
    border-color: #111;
    background-color: #212121;
    background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
    color: #fff; }


.button.button-dark {
    border-color: transparent;
    background-color: #212121;
    color: #fff; }

.tabs-striped.tabs-background-dark .tabs {
  background-color: #212121;
  border: none; }


.assertive{
color:#B71C1C;
}

.tabs-background-assertive{
  color:#B71C1C;
}

.tabs-striped.tabs-color-assertive .tab-item {
  background-color:#fff;
    color: #B71C1C;
    opacity: 1; }



.tabs-striped.tabs-color-assertive .tab-item.active{
  color: #212121;
  border: 0 solid #212121;
}

.tabs-color-assertive .tab-item.tab-item-active,.tabs-color-assertive .tab-item.tab-item-active .icon, .tabs-color-assertive .tab-item.tab-item-active span{
  color:#212121;
}

  .tabs-striped.tabs-color-assertive .tab-item.tab-item-active, .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated {
    margin-top: -2px;
    color:#212121;
    border: 0;
    border-top-width: 2px;
    font-weight: bold;
    }

/*for web*/
.header-image {
    border-radius: 8px;
    display: block;margin-left: auto;
    margin-right: auto;
}
/*for app */
.mobile-header-image img.header-image{
    border-radius: 8px;
    display: block;
    margin: auto;
    width: 100%;
}

.post-date{
    float:right;
  }

.blog-item .header-image {
    border-radius: 0px;
    display: block;
    /*margin: auto;*/
    padding:0px;
    margin:0px;
    width:100%;
    height:100%;
}

.blog-item .post-date{
    right:0;
    display:inline;
    /*top:0;*/
    bottom:0;
}

.post-meta{
  display:inline;
}

.post-meta{
  display:inline;
}

.right{
    right:0;
    display:inline;
  }


/*Google Font pairings https://designshack.net/articles/css/10-great-google-font-combinations-you-can-copy/*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}
 
p, div, span, select, a {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

.centered{
  display: block;
  margin: auto;
}


.img-shadow {
  float:left;
  background: #ddd;
  margin: 10px 0 0 10px
}

.item{
  padding-top:0px;
  margin-top:0px;
}

/*for cards with no border and a shadow below*/
.card.item.blog-item{
  padding:0px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
  border-width:0px;
}

ul.my-list {
  list-style-type: disc;
}
ul.my-list ul.my-list {
  list-style-type: circle;
  padding-left: 15px;
}

.right-align{
  /*direction: rtl;*/
  text-align: right;
}

.optional-text{
  color: #9e9e9e;
}

.relative-tabs{
  position:relative;
}

.optional-text{
  color: #9e9e9e;
}

.relative-tabs{
  position:relative;
}
